[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backoff = "*"
monotonic = "*"
requests = "*"
python-dateutil = "*"
six = "*"

[dev-packages]
black = "*"
mock = "*"
pytest = "*"
pylint = "*"
flake8 = "*"
coverage = "*"
twine = "*"
pytest-mock = "*"
pipfile = "*"

[requires]
python_version = "3.10"
